body{
    background-color: #1592db;
    font-family: Snell Roundhand, cursive;
    margin: 0;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-color: antiquewhite;
}
