body{
    background-image: url("MagicWallPaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Snell Roundhand, cursive;
    margin: 0;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-color: antiquewhite;
}

h1{
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

h2{
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}
p{
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
}

button{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.grid-item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}
